In [51]:
import pandas as pd
import numpy as np

#Load CSV
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [52]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [53]:
clean_budget_df = school_data_complete.dropna(how="any")
clean_budget_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [63]:
#Calculate the total number of schools
unique_school=school_data_complete["school_name"].unique()
total_schools=len(unique_school)

#Calculate the total number of students
total_students=len(school_data_complete["student_name"])
print(total_students)

#Calculate the total budget
unique_budget=school_data_complete["budget"].unique()
total_budget=sum(unique_budget)

#Calculate the average math score
average_math_score=school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading_score=school_data_complete["reading_score"].mean()

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
average_overall=(average_math_score+average_reading_score)/2

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70, :]
passing_math_num=len(passing_math)
passing_math_percent=(passing_math_num/total_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70, :]
passing_reading_num=len(passing_reading)
passing_reading_percent=(passing_math_num/total_students)*100

#Create a dataframe to hold the above results
district_summary= [
    {"Total Schools": total_schools,
     "Total Students": total_students,
     "Total Budget ($)": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "Overall Average Score": average_overall,
     "Passing Math Percent": passing_math_percent,
     "Pasing Reading Percent": passing_reading_percent
    }
]
summary_df=pd.DataFrame(district_summary)
summary_df

39170

,Average Math Score,Average Reading Score,Overall Average Score,Pasing Reading Percent,Passing Math Percent,Total Budget ($),Total Schools,Total Students
0,78.985371,81.87784,80.431606,74.980853,74.980853,24649428,15,39170

In [ ]:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)