In [25]:
import pandas as pd
import numpy as np

#Load CSV
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [26]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [27]:
clean_budget_df = school_data_complete.dropna(how="any")
clean_budget_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [28]:
                                        #District Summary
#Calculate the total number of schools
unique_school=school_data_complete["school_name"].unique()
total_schools=len(unique_school)

#Calculate the total number of students
total_students=len(school_data_complete["student_name"])
print(total_students)

#Calculate the total budget
unique_budget=school_data_complete["budget"].unique()
total_budget=sum(unique_budget)

#Calculate the average math score
average_math_score=school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading_score=school_data_complete["reading_score"].mean()

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
average_overall=(average_math_score+average_reading_score)/2

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70, :]
passing_math_num=len(passing_math)
passing_math_percent=(passing_math_num/total_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70, :]
passing_reading_num=len(passing_reading)
passing_reading_percent=(passing_math_num/total_students)*100

#Create a dataframe to hold the above results
district_summary= [
    {"Total Schools": total_schools,
     "Total Students": total_students,
     "Total Budget ($)": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "Overall Average Score": average_overall,
     "Passing Math Percent": passing_math_percent,
     "Passing Reading Percent": passing_reading_percent
    }
]
summary_df=pd.DataFrame(district_summary)
summary_df

39170

,Average Math Score,Average Reading Score,Overall Average Score,Passing Math Percent,Passing Reading Percent,Total Budget ($),Total Schools,Total Students
0,78.985371,81.87784,80.431606,74.980853,74.980853,24649428,15,39170

In [21]:
                                                #School Summary
#School Name
#school_name=school_data_complete["school_name"].unique()

#School Type
school_type=school_data_complete.groupby("school_name")["type"].unique()

#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Total School Budget
total_budget=school_data_complete.groupby("school_name")["budget"].unique()

#Per Student Budget
per_student_budget=total_budget/total_students

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#% Passing Math
grouped_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["math_score"].count()
percent_math=(grouped_math/total_students)*100

#% Passing Reading
grouped_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["reading_score"].count()
percent_reading=(grouped_reading/total_students)*100


#Overall Passing Rate (Average of the above two)]
overall=(percent_math+percent_reading)/2

#Create a dataframe to hold the above results
school_summary=pd.DataFrame(
    {"School Type": school_type,
     "Total Students": total_students,
     "Total Budget($)": total_budget,
     "Per Student Budget($)": per_student_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": percent_math,
     "% Passing Reading": percent_reading,
     "% Overall Passing Rate": overall
    }
)

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,94.972222

In [30]:
                                #Top Performing Schools (By Passing Rate)
#Sort and display the top five schools in overall passing rate
performance_df = school_summary.sort_values("% Overall Passing Rate", ascending=False)
performance_df.head()

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

In [33]:
                            #Bottom Performing Schools (By Passing Rate)
#Sort and display the five worst performing schools
performance_df = school_summary.sort_values("% Overall Passing Rate", ascending=True)
performance_df.head()

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308

In [39]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe
#Optional: give the displayed data cleaner formatting

       Student ID        student_name gender grade         school_name  \
0               0        Paul Bradley      M   9th   Huang High School
4               4          Bonnie Ray      F   9th   Huang High School
5               5       Bryan Miranda      M   9th   Huang High School
12             12     Brittney Walker      F   9th   Huang High School
13             13        William Long      M   9th   Huang High School
16             16       Donald Zamora      M   9th   Huang High School
17             17   Kimberly Santiago      F   9th   Huang High School
18             18       Kevin Stevens      M   9th   Huang High School
19             19        Brandi Lyons      F   9th   Huang High School
23             23  Christopher Parker      M   9th   Huang High School
25             25        Cesar Morris      M   9th   Huang High School
26             26      Melanie Decker      F   9th   Huang High School
30             30        Bobby Harris      M   9th   Huang High School
39             39     Gregory Roberts      M   9th   Huang High School
40             40       Matthew Mayer      M   9th   Huang High School
42             42        John Carlson      M   9th   Huang High School
43             43       Megan Roberts      F   9th   Huang High School
48             48         Amy Perkins      F   9th   Huang High School
53             53           Jon Smith      M   9th   Huang High School
54             54        Tracey Yates      F   9th   Huang High School
57             57  Madeline Snyder MD      F   9th   Huang High School
59             59       Theresa Meyer      F   9th   Huang High School
60             60          Jared Wood      M   9th   Huang High School
61             61        Eric Maynard      M   9th   Huang High School
76             76            Erin Liu      F   9th   Huang High School
79             79  Elizabeth Mckinney      F   9th   Huang High School
90             90       Ronald Garcia      M   9th   Huang High School
92             92         Ryan Stokes      M   9th   Huang High School
96             96       Jessica Smith      F   9th   Huang High School
104           104      Michael Savage      M   9th   Huang High School
...           ...                 ...    ...   ...                 ...
39083       39083       Gloria Wilson      F   9th  Thomas High School
39084       39084      Angela Daniels      F   9th  Thomas High School
39085       39085       Marcus Morgan      M   9th  Thomas High School
39087       39087        Lisa Kennedy      F   9th  Thomas High School
39089       39089    Lindsey Thompson      F   9th  Thomas High School
39090       39090        Lori Dickson      F   9th  Thomas High School
39092       39092      Joseph Burgess      M   9th  Thomas High School
39093       39093        Antonio Kirk      M   9th  Thomas High School
39102       39102      Jennifer White      F   9th  Thomas High School
39103       39103      Carrie Stewart      F   9th  Thomas High School
39105       39105   Dr. Kimberly Page      F   9th  Thomas High School
39107       39107         Stacy Wells      F   9th  Thomas High School
39111       39111         Mary Coffey      F   9th  Thomas High School
39117       39117         Daniel Best      M   9th  Thomas High School
39123       39123      Andrew Merritt      M   9th  Thomas High School
39124       39124         Susan Simon      F   9th  Thomas High School
39127       39127         Robert Wood      M   9th  Thomas High School
39128       39128    Jonathan Mueller      M   9th  Thomas High School
39131       39131      Brian Williams      M   9th  Thomas High School
39132       39132        Shawn Hayden      M   9th  Thomas High School
39135       39135       Laura Webster      F   9th  Thomas High School
39138       39138      Monica Hampton      F   9th  Thomas High School
39139       39139       Catherine Lee      F   9th  Thomas High School
39140       39140  Cheyenne Hernandez      F   9th  Thomas High School
39146       39146     Michael Carroll      M   9th  Thomas High School
39152       39152          Lori Moore      F   9th  Thomas High School
39153       39153     William Hubbard      M   9th  Thomas High School
39157       39157    Kristen Gonzalez      F   9th  Thomas High School
39164       39164      Joseph Anthony      M   9th  Thomas High School
39167       39167      Rebecca Tanner      F   9th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
12                64          79          0  District  2917  1910635
13                71          79          0  District  2917  1910635
16                88          55          0  District  2917  1910635
17                74          75          0  District  2917  1910635
18                64          69          0  District  2917  1910635
19                89          80          0  District  2917  1910635
23                81          68          0  District  2917  1910635
25                92          70          0  District  2917  1910635
26                63          85          0  District  2917  1910635
30                94          99          0  District  2917  1910635
39                80          61          0  District  2917  1910635
40                79          69          0  District  2917  1910635
42                65          89          0  District  2917  1910635
43                66          90          0  District  2917  1910635
48                76          66          0  District  2917  1910635
53                96          69          0  District  2917  1910635
54                83          68          0  District  2917  1910635
57                97          56          0  District  2917  1910635
59                88          70          0  District  2917  1910635
60                63          89          0  District  2917  1910635
61                64          95          0  District  2917  1910635
76                78          76          0  District  2917  1910635
79                74          81          0  District  2917  1910635
90                99          86          0  District  2917  1910635
92                75          72          0  District  2917  1910635
96                77          72          0  District  2917  1910635
104               75          66          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39083             90          73         14   Charter  1635  1043130
39084             86          91         14   Charter  1635  1043130
39085             91          88         14   Charter  1635  1043130
39087             94          68         14   Charter  1635  1043130
39089             96          79         14   Charter  1635  1043130
39090             81          83         14   Charter  1635  1043130
39092             90          96         14   Charter  1635  1043130
39093             73          74         14   Charter  1635  1043130
39102             85          94         14   Charter  1635  1043130
39103             83          91         14   Charter  1635  1043130
39105             88          85         14   Charter  1635  1043130
39107             72          81         14   Charter  1635  1043130
39111             93          89         14   Charter  1635  1043130
39117             86          98         14   Charter  1635  1043130
39123             71          82         14   Charter  1635  1043130
39124             71          98         14   Charter  1635  1043130
39127             97          98         14   Charter  1635  1043130
39128             82          98         14   Charter  1635  1043130
39131             72          86         14   Charter  1635  1043130
39132             69          78         14   Charter  1635  1043130
39135             78          81         14   Charter  1635  1043130
39138             94          94         14   Charter  1635  1043130
39139             83          81         14   Charter  1635  1043130
39140             76          99         14   Charter  1635  1043130
39146             69          95         14   Charter  1635  1043130
39152             98          84         14   Charter  1635  1043130
39153             80          75         14   Charter  1635  1043130
39157             79          94         14   Charter  1635  1043130
39164             97          76         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130

[11408 rows x 11 columns]

In [42]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #School Type
school_grade=school_data_complete.groupby("school_name")["grade"].unique()

#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#Create a dataframe to hold the above results
school_summary2=pd.DataFrame(
    {"School Grade": school_grade,
     "Total Students": total_students,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
    }
)
school_summary2
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

,School Grade,Total Students,Average Math Score,Average Reading Score
school_name,,,,
Bailey High School,"[9th, 12th, 11th, 10th]",4976,77.048432,81.033963
Cabrera High School,"[11th, 9th, 12th, 10th]",1858,83.061895,83.975780
Figueroa High School,"[10th, 12th, 9th, 11th]",2949,76.711767,81.158020
Ford High School,"[9th, 11th, 12th, 10th]",2739,77.102592,80.746258
Griffin High School,"[11th, 10th, 9th, 12th]",1468,83.351499,83.816757
Hernandez High School,"[10th, 12th, 9th, 11th]",4635,77.289752,80.934412
Holden High School,"[11th, 9th, 10th, 12th]",427,83.803279,83.814988
Huang High School,"[9th, 12th, 11th, 10th]",2917,76.629414,81.182722
Johnson High School,"[12th, 9th, 11th, 10th]",4761,77.072464,80.966394
Pena High School,"[9th, 10th, 11th, 12th]",962,83.839917,84.044699
Rodriguez High School,"[11th, 10th, 12th, 9th]",3999,76.842711,80.744686
Shelton High School,"[12th, 10th, 11th, 9th]",1761,83.359455,83.725724
Thomas High School,"[10th, 11th, 9th, 12th]",1635,83.418349,83.848930
Wilson High School,"[10th, 11th, 9th, 12th]",2283,83.274201,83.989488
Wright High School,"[10th, 11th, 9th, 12th]",1800,83.682222,83.955000

In [51]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [52]:
#Scores by School Size
#Create a table that breaks down school performances based on average School Size (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Type
#Create a table that breaks down school performances based on average School Type (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)