In [3]:
import pandas as pd
import numpy as np

#Load CSV
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
clean_budget_df = school_data_complete.dropna(how="any")
clean_budget_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [6]:
                                        #District Summary
#Calculate the total number of schools
unique_school=school_data_complete["school_name"].unique()
total_schools=len(unique_school)

#Calculate the total number of students
total_students=len(school_data_complete["student_name"])
print(total_students)

#Calculate the total budget
unique_budget=school_data_complete["budget"].unique()
total_budget=sum(unique_budget)

#Calculate the average math score
average_math_score=school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading_score=school_data_complete["reading_score"].mean()

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
average_overall=(average_math_score+average_reading_score)/2

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70, :]
passing_math_num=len(passing_math)
passing_math_percent=(passing_math_num/total_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70, :]
passing_reading_num=len(passing_reading)
passing_reading_percent=(passing_math_num/total_students)*100

#Create a dataframe to hold the above results
district_summary= [
    {"Total Schools": total_schools,
     "Total Students": total_students,
     "Total Budget ($)": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "Overall Average Score": average_overall,
     "Passing Math Percent": passing_math_percent,
     "Passing Reading Percent": passing_reading_percent
    }
]
summary_df=pd.DataFrame(district_summary)
summary_df

39170

,Average Math Score,Average Reading Score,Overall Average Score,Passing Math Percent,Passing Reading Percent,Total Budget ($),Total Schools,Total Students
0,78.985371,81.87784,80.431606,74.980853,74.980853,24649428,15,39170

In [7]:
                                                #School Summary
#School Name
#school_name=school_data_complete["school_name"].unique()

#School Type
school_type=school_data_complete.groupby("school_name")["type"].unique()

#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Total School Budget
total_budget=school_data_complete.groupby("school_name")["budget"].unique()

#Per Student Budget
per_student_budget=total_budget/total_students

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#% Passing Math
grouped_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["math_score"].count()
percent_math=(grouped_math/total_students)*100

#% Passing Reading
grouped_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["reading_score"].count()
percent_reading=(grouped_reading/total_students)*100


#Overall Passing Rate (Average of the above two)]
overall=(percent_math+percent_reading)/2

#Create a dataframe to hold the above results
school_summary=pd.DataFrame(
    {"School Type": school_type,
     "Total Students": total_students,
     "Total Budget($)": total_budget,
     "Per Student Budget($)": per_student_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": percent_math,
     "% Passing Reading": percent_reading,
     "% Overall Passing Rate": overall
    }
)
school_summary.head()

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668

In [8]:
                                #Top Performing Schools (By Passing Rate)
#Sort and display the top five schools in overall passing rate
performance_df = school_summary.sort_values("% Overall Passing Rate", ascending=False)
performance_df.head()

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

In [9]:
                            #Bottom Performing Schools (By Passing Rate)
#Sort and display the five worst performing schools
performance_df = school_summary.sort_values("% Overall Passing Rate", ascending=True)
performance_df.head()

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308

In [18]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Group data by grade
grade_9=school_data_complete.loc[school_data_complete["grade"]=="9th", :]
grade_10=school_data_complete.loc[school_data_complete["grade"]=="10th", :]
grade_11=school_data_complete.loc[school_data_complete["grade"]=="11th", :]
grade_12=school_data_complete.loc[school_data_complete["grade"]=="12th", :]

#average score per grade
average_math_9=grade_9.groupby("school_name")["math_score"].mean()
average_math_10=grade_10.groupby("school_name")["math_score"].mean()
average_math_11=grade_11.groupby("school_name")["math_score"].mean()
average_math_12=grade_12.groupby("school_name")["math_score"].mean()

#Create data frame
math_per_grade=pd.DataFrame({"9th": average_math_9, 
                            "10th": average_math_10,
                            "11th": average_math_11,
                            "12th": average_math_12})
math_per_grade

#Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [19]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#Group data by grade
read_grade_9=school_data_complete.loc[school_data_complete["grade"]=="9th", :]
read_grade_10=school_data_complete.loc[school_data_complete["grade"]=="10th", :]
read_grade_11=school_data_complete.loc[school_data_complete["grade"]=="11th", :]
read_grade_12=school_data_complete.loc[school_data_complete["grade"]=="12th", :]

#average score per grade
average_read_9=read_grade_9.groupby("school_name")["reading_score"].mean()
average_read_10=read_grade_10.groupby("school_name")["reading_score"].mean()
average_read_11=read_grade_11.groupby("school_name")["reading_score"].mean()
average_read_12=read_grade_12.groupby("school_name")["reading_score"].mean()

#Create data frame
reading_per_grade=pd.DataFrame({"9th": average_read_9, 
                            "10th": average_read_10,
                            "11th": average_read_11,
                            "12th": average_read_12})
reading_per_grade

#Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [31]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Total School Budget
total_budget=school_data_complete.groupby("school_name")["budget"].unique()

#Per Student Budget
per_student_budget=total_budget/total_students

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#% Passing Math
grouped_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["math_score"].count()
percent_math=(grouped_math/total_students)*100

#% Passing Reading
grouped_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["reading_score"].count()
percent_reading=(grouped_reading/total_students)*100

#Overall Passing Rate (Average of the above two)]
overall=(percent_math+percent_reading)/2

#General Data Frame
general_df=pd.DataFrame({"Spending Per Student": per_student_budget,
                        "Average Math Score": average_math_score,
                        "Average Reading Score": average_reading_score,
                        "% Passing Math": percent_math,
                        "% Passing Reading": percent_reading,
                        "% Overall Passing Rate": overall})
#min and max for binning
#print(general_df["Spending Per Student"].min())
#print(general_df["Spending Per Student"].max())
#results= 578-655

#create bins
spending_bins=[0,585,615,645,675]
group_names=["<$585","$585-615","$615-645","$645-675"]

#slice data and place into bins
pd.cut(general_df["Spending Per Student"], spending_bins, labels=group_names)

#add new group to df
general_df["Spending Ranges (Per Student)"] = pd.cut(general_df["Spending Per Student"], spending_bins, labels=group_names)

#drop extraneous columns
del general_df["Spending Per Student"]

#reset index to spending ranges per student
binned_df=general_df.set_index("Spending Ranges (Per Student)")
binned_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
$615-645,77.048432,81.033963,66.680064,81.933280,74.306672
<$585,83.061895,83.975780,94.133477,97.039828,95.586652
$615-645,76.711767,81.158020,65.988471,80.739234,73.363852
$615-645,77.102592,80.746258,68.309602,79.299014,73.804308
$615-645,83.351499,83.816757,93.392371,97.138965,95.265668

In [40]:
#Scores by School Size
#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#% Passing Math
grouped_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["math_score"].count()
percent_math=(grouped_math/total_students)*100

#% Passing Reading
grouped_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["reading_score"].count()
percent_reading=(grouped_reading/total_students)*100

#Overall Passing Rate (Average of the above two)]
overall=(percent_math+percent_reading)/2

#General Data Frame
general_df=pd.DataFrame({"Size": total_students,
                        "Average Math Score": average_math_score,
                        "Average Reading Score": average_reading_score,
                        "% Passing Math": percent_math,
                        "% Passing Reading": percent_reading,
                        "% Overall Passing Rate": overall})

#min and max for binning
#print(general_df["Size"].min())
#print(general_df["Size"].max())
#results= 427-4976

#create bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#slice data and place into bins
pd.cut(general_df["Size"], size_bins, labels=group_names)

#add new group to df
general_df["School Size"]=pd.cut(general_df["Size"], size_bins, labels=group_names)
#drop extraneous columns
del general_df["Size"]

#reset index to spending ranges per student
binned_df=general_df.set_index("School Size")
binned_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Large (2000-5000),77.048432,81.033963,66.680064,81.933280,74.306672
Medium (1000-2000),83.061895,83.975780,94.133477,97.039828,95.586652
Large (2000-5000),76.711767,81.158020,65.988471,80.739234,73.363852
Large (2000-5000),77.102592,80.746258,68.309602,79.299014,73.804308
Medium (1000-2000),83.351499,83.816757,93.392371,97.138965,95.265668

In [42]:
#Scores by School Type
#School Type
school_type=school_data_complete.groupby("school_name")["type"].unique()

#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#% Passing Math
grouped_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["math_score"].count()
percent_math=(grouped_math/total_students)*100

#% Passing Reading
grouped_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["reading_score"].count()
percent_reading=(grouped_reading/total_students)*100


#Overall Passing Rate (Average of the above two)]
overall=(percent_math+percent_reading)/2

#General Data Frame
general_data=pd.DataFrame(
    {"School Type": school_type,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": percent_math,
     "% Passing Reading": percent_reading,
     "% Overall Passing Rate": overall
    }
)
school_summary.head()

min and max for binning
#print(general_df["Size"].min())
#print(general_df["Size"].max())
#results= 427-4976

#create bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#slice data and place into bins
pd.cut(general_df["Size"], size_bins, labels=group_names)

#add new group to df
general_df["School Size"]=pd.cut(general_df["Size"], size_bins, labels=group_names)

#drop extraneous columns
del general_df["Size"]

#reset index to spending ranges per student
binned_df=general_df.set_index("School Size")
binned_df.head()

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,95.265668