In [1]:
import pandas as pd
import numpy as np

#Load CSV
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
clean_budget_df = school_data_complete.dropna(how="any")
clean_budget_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [4]:
                                        #District Summary
#Calculate the total number of schools
unique_school=school_data_complete["school_name"].unique()
total_schools=len(unique_school)

#Calculate the total number of students
total_students=len(school_data_complete["student_name"])
print(total_students)

#Calculate the total budget
unique_budget=school_data_complete["budget"].unique()
total_budget=sum(unique_budget)

#Calculate the average math score
average_math_score=school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading_score=school_data_complete["reading_score"].mean()

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
average_overall=(average_math_score+average_reading_score)/2

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70, :]
passing_math_num=len(passing_math)
passing_math_percent=(passing_math_num/total_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70, :]
passing_reading_num=len(passing_reading)
passing_reading_percent=(passing_math_num/total_students)*100

#Create a dataframe to hold the above results
district_summary= [
    {"Total Schools": total_schools,
     "Total Students": total_students,
     "Total Budget ($)": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "Overall Average Score": average_overall,
     "Passing Math Percent": passing_math_percent,
     "Passing Reading Percent": passing_reading_percent
    }
]
summary_df=pd.DataFrame(district_summary)
summary_df

39170

,Average Math Score,Average Reading Score,Overall Average Score,Passing Math Percent,Passing Reading Percent,Total Budget ($),Total Schools,Total Students
0,78.985371,81.87784,80.431606,74.980853,74.980853,24649428,15,39170

In [5]:
                                                #School Summary
#School Type
school_type=school_data_complete.groupby("school_name")["type"].unique()

#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Total School Budget
total_budget=school_data_complete.groupby("school_name")["budget"].unique()

#Per Student Budget
per_student_budget=total_budget/total_students

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#% Passing Math
grouped_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["math_score"].count()
percent_math=(grouped_math/total_students)*100

#% Passing Reading
grouped_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["reading_score"].count()
percent_reading=(grouped_reading/total_students)*100


#Overall Passing Rate (Average of the above two)]
overall=(percent_math+percent_reading)/2

#Create a dataframe to hold the above results
school_summary=pd.DataFrame(
    {"School Type": school_type,
     "Total Students": total_students,
     "Total Budget($)": total_budget,
     "Per Student Budget($)": per_student_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": percent_math,
     "% Passing Reading": percent_reading,
     "% Overall Passing Rate": overall
    }
)
school_summary

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,94.972222

In [11]:
                                #Top Performing Schools (By Passing Rate)
#Sort and display the top five schools in overall passing rate
school_summary=pd.DataFrame(
    {"School Type": school_type,
     "Total Students": total_students,
     "Total Budget($)": total_budget,
     "Per Student Budget($)": per_student_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": percent_math,
     "% Passing Reading": percent_reading,
     "% Overall Passing Rate": overall
    }
)
school_summary

performance_df = school_summary.sort_values("% Overall Passing Rate", ascending=False)
performance_df.head()

,School Type,Total Students,Total Budget($),Per Student Budget($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

In [15]:
#Bottom Performing Schools (By Passing Rate)
#Sort and display the five worst performing schools

In [49]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

In [50]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

In [51]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [52]:
#Scores by School Size
#Create a table that breaks down school performances based on average School Size (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Type
#Create a table that breaks down school performances based on average School Type (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)