In [32]:
import pandas as pd
import numpy as np

#Load CSV
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [33]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [34]:
clean_budget_df = school_data_complete.dropna(how="any")
clean_budget_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [35]:
#Calculate the total number of schools
unique_school=school_data_complete["school_name"].unique()
total_schools=len(unique_school)

#Calculate the total number of students
total_students=len(school_data_complete["student_name"])
print(total_students)

#Calculate the total budget
unique_budget=school_data_complete["budget"].unique()
total_budget=sum(unique_budget)

#Calculate the average math score
average_math_score=school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading_score=school_data_complete["reading_score"].mean()

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
average_overall=(average_math_score+average_reading_score)/2

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70, :]
passing_math_num=len(passing_math)
passing_math_percent=(passing_math_num/total_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70, :]
passing_reading_num=len(passing_reading)
passing_reading_percent=(passing_math_num/total_students)*100

#Create a dataframe to hold the above results
district_summary= [
    {"Total Schools": total_schools,
     "Total Students": total_students,
     "Total Budget ($)": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "Overall Average Score": average_overall,
     "Passing Math Percent": passing_math_percent,
     "Passing Reading Percent": passing_reading_percent
    }
]
summary_df=pd.DataFrame(district_summary)
summary_df

39170

,Average Math Score,Average Reading Score,Overall Average Score,Passing Math Percent,Passing Reading Percent,Total Budget ($),Total Schools,Total Students
0,78.985371,81.87784,80.431606,74.980853,74.980853,24649428,15,39170

In [48]:
#School Name
unique=school_data_complete["school_name"].unique()
unique

#School Type
school_type=school_data_complete.groupby("type")["school_name"].head()

#Total Students
total_students=school_data_complete.groupby("school_name")["student_name"].count()

#Total School Budget

#Per Student Budget

#Average Math Score
average_math_score=school_data_complete.groupby("school_name")["math_score"].mean()

#Average Reading score
average_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

#% Passing Math
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70, :]
passing_math_num=len(passing_math)
passing_math_percent=(passing_math_num/total_students)*100
print(passing_math_percent)

#% Passing Reading

#Overall Passing Rate (Average of the above two)]\

school_name
Bailey High School        590.233119
Cabrera High School      1580.731970
Figueroa High School      995.930824
Ford High School         1072.289157
Griffin High School      2000.681199
Hernandez High School     633.656958
Holden High School       6878.220141
Huang High School        1006.856359
Johnson High School       616.887209
Pena High School         3053.014553
Rodriguez High School     734.433608
Shelton High School      1667.802385
Thomas High School       1796.330275
Wilson High School       1286.465177
Wright High School       1631.666667
Name: student_name, dtype: float64

In [45]:
#Top Performing Schools (By Passing Rate)
#Sort and display the top five schools in overall passing rate

In [46]:
#Bottom Performing Schools (By Passing Rate)
#Sort and display the five worst performing schools

In [49]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

In [50]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

In [51]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [52]:
#Scores by School Size
#Create a table that breaks down school performances based on average School Size (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Type
#Create a table that breaks down school performances based on average School Type (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)